body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.color-controls {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color-palettes {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-palatte{
  width: 100px;
  height: 100%;
  padding: 1%;
  box-shadow: #333;
  background-color: #fff;
  border-radius: 8px;
  margin: 1%;
}
.color-box{
  width: 100px;
  height: 100px;
}

/* Additional CSS styling for color controls and palettes */

